.container {
  width: 80%;
  margin: 20px auto;
  border: 1px solid gainsboro;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  position: relative;
  background-color: var(--background);
}

.search {
  flex: 1;
  padding: 0 15px;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 25px;
  color: var(--text-primary);
  background-color: var(--background);
}

.searchButton {
  background: none;
  border: none;
  padding-right: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.container img {
  width: 24px;
  height: 24px;
}

.searchContainer {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: var(--background);
  border: 1px solid gainsboro;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.searchTab {
  padding: 10px 15px;
  border-bottom: 1px solid gainsboro;
  background-color: var(--background);
  color: var(--text-primary);
}

.searchTab:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

.searchTab h5 {
  margin: 0;
}
