.container {
  height: 90vh;
  display: flex;
  gap: 30px;
  padding: 20px;
  margin: 20px;
  background: var(--background);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.left {
  flex: 1;
}

.right {
  flex: 2;
  padding-left: 20px;
}

.bookImage {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.pubDate {
  font-size: 14px;
  color: #888;
}

.title {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.details {
  margin-top: 20px;
}

.details p {
  margin: 5px 0;
}

.summary,
.contents,
.detail {
  margin-top: 20px;
}

.summary h2,
.detail h2 {
  font-size: 20px;
}
.formContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.formContainer label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

.textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submitBtn {
  background-color: orangered;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}
.reviewListContainer {
  max-height: 400px; /* 높이 제한 */
  overflow-y: auto; /* 넘치는 경우 스크롤 */
}

.reviewList {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.reviewItem {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.reviewInfo {
  margin-bottom: 10px;
}

.reviewEmail {
  font-weight: bold;
  margin-bottom: 5px;
}

.reviewComment {
  margin-top: 5px;
  margin-bottom: 10px;
}
